name: Compile PDF

on:
  pull_request:
  push:
  schedule:
    - cron: '0 0 * * *'


jobs:

  compile-pdf:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - run: cargo install --locked --git https://github.com/mfontanini/presenterm
      - name: Install uv
        uses: astral-sh/setup-uv@v6
      - uses: actions/checkout@v5
        with:
          repository: SUNET/presenterm-sunet-theme
          path: presenterm-sunet-theme
      - run: mkdir -p /home/runner/.config/presenterm
      - run: cp -vr presenterm-sunet-theme/* /home/runner/.config/presenterm/
      - run: |
          cat >/tmp/config.yaml <<EOL
          export:
            dimensions:
              rows: 50
              columns: 150
          EOL
      - run: uv run --with weasyprint /home/runner/.cargo/bin/presenterm --export-pdf -c /tmp/config.yaml --theme sunet-export slides/init.md -o slides/sunet-cm-tooling-presentation.pdf
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          if-no-files-found: error
          name: 'sunet-cm-tooling-presentation.pdf'
          path: 'slides/sunet-cm-tooling-presentation.pdf'
      - name: Bump version and push tag
        id: tag_version
        uses: mathieudutour/github-tag-action@v6.2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          fetch_all_tags: true
      - name: Create a GitHub release
        uses: ncipollo/release-action@v1
        with:
          tag: ${{ steps.tag_version.outputs.new_tag }}
          name: PDF ${{ steps.tag_version.outputs.new_tag }}
          body: Welcome to read
          artifacts: 'slides/sunet-cm-tooling-presentation.pdf'

